body {
  padding: 50px;
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}


.fullWidthWall {
  width: 400px;
}
.tileButton {
  width: 100px;
}

#container {
  display: flex;
}

.entryForm {
  width: 600px;
  height: 100px;
  border: 2px solid rgba(0, 89, 255, 0.308);
  border-radius: 25px;
  float: left;
  padding: 10px;
}

.imageBorder {
  width: 300px;
  border: 2px solid rgba(0, 89, 255, 0.308);
  border-radius: 25px;
  float: left;
  padding: 10px;
}

.cheggersBorder {
  width: 300px;
  border: 2px solid rgba(0, 89, 255, 0.308);
  border-radius: 25px;
  float: left;
  padding: 10px;
  text-align: center;
  color : #ffffff;
  background-color: #003399;
}

.bigImageBorder {
  width: 400px;
  border: 2px solid rgba(0, 255, 0.308);
  border-radius: 25px;
  float: right;
  padding: 10px;
}

.bigImageBorder img {
  width: 100%;
}

.searchBorder {
  width: 300px;
  border: 2px solid rgba(0, 89, 255, 0.308);
  border-radius: 25px;
  padding: 10px;
}

#cont {
  display: none;
}
.show:focus + .hide {
  display: inline;
}
.show:focus + .hide + #cont {
  display: block;
}

.slider {
  width: 75px;
  border-radius: 25px;
  float: left;
  padding: 20px;
  text-align: center;
  margin-left: 0px;
  font-weight: bold;
}

.blah {
  clear: both;
}

.sliderTable {
  border: 2px solid #003399;
  border-collapse: collapse;
  font-size: 12px;
  text-align: center;
  background-color: orangered;

}

.sliderTable,
th,
td {
  border: 1px solid #ffffff;
  text-align: center;
  vertical-align: middle;
  height: 20px;
  width: 120px;
  font-weight: bold;
}

.sliderTable th {
  background-color: #0066ff;
  color: white;
}

.sliderTable .minus {
  background-color: red;
  color: #ffffff;
  font-size: 12pt;
}
.sliderTable .plus {
  background-color: green;
  color: #ffffff;
  font-size: 12pt;
}
.sliderTable .even {
  background-color: orange;
}

.sliderTable .currentScore {
  background-color: #000000;
  color: #ffffff;
}

.sliderTable .rightWrong {
  background-color: #003399;
  font-weight: bold;
  font-size: 20px;
  color: orangered;
}

.rightWrong {
  background-color: #003399;
  font-weight: bold;
  font-size: 20px;
  color: orangered;
}

.wrongRight {
  background-color:orangered ;
  font-weight: bold;
  font-size: 20px;
  color: #003399;
  padding: 20px 10px 20px 10px;
}

.sliderTable .token {
  color: yellow;
  background-color: #003399;
  font-size: 22px;
  font-weight: bold;
}

.red {
  color: red;
}

.green {
  color: green;
}
